@charset "utf-8";

/* スタイル一覧 */
:root {

    /* カラー */
    --coffee: #573F2E;
    --forest: #007440;
    --glass: #8DC21F;
    --petal: #E7374A;
    --cream: #FDF8F1;
    --sunflower: #F5AC3C;
    --walnut: #8D7E66;
    --blossom: #D56B9B;
    --sky: #83CBD2;

    /* フォント */
    --serif: 'Noto Serif JP', serif;
    --title: 'Rock Salt', cursive;
    --subtitle: 'Noto Sans JP', sans-serif;

}

/* 独自リセット */
* {
    margin: 0;
    padding: 0;
    font-family: var(--serif);
    color: var(--coffee);
}

.bg {
    background-color: var(--sunflower);
}

/* ヘッダー */
.sp-header {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 36px;
    z-index: 100;
    position: fixed;
    background-color: var(--cream);
    box-shadow: 0px 4px 10px 0px #00000040;
    padding: 10px 0px;
}

.sp-header div {
    display: flex;
    align-items: center;
    margin: 10px 5px;
}

.sp-logo {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

/* メインエリア */
.main-area {
    width: 375px;
    margin: auto;
    overflow: hidden;
    box-shadow: 4px 4px 10px 0px #00000040;
    background: url("../img/paper-texture.webp");
    background-position: center;
    z-index: 1;
}

.logo-hanachan {
    z-index: 10;
}

/* 平文一括指定 */
p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    width: 375px;
    text-align: center;
    line-height: 20px;
    font-weight: 550;
}

/* 電話番号だけ文字変え */
.phone-number {
    color: var(--petal);
    font-family: var(--subtitle);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/* メインビジュアル */
.mv {
    margin-top: 56px;
    margin-bottom: 10px;
    display: flex;
    left: -83px;
    width: 540px;
    height: 376px;
    object-fit: fill;
    mix-blend-mode: multiply;
    overflow: hidden;
    position: relative;

}

.copy-main {
    display: block;
    width: 375px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    transform: translateX(5px);
}

.logo-hanachan {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    left: 75px;
    width: 180px;
    height: 180px;
}

/* タイトル共通指定 */
.title {
    width: 375px;
    height: 105px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: -100;
}

.title img {
    width: 375px;
}

.logo {
    font-family: var(--title);
    color: var(--forest);
    font-size: 40px;
    text-align: center;
    translate: 0px -105px;
}

.subtitle {
    display: block;
    font-family: var(--subtitle);
    font-weight: bold;
    color: var(--forest);
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    translate: 0px -123px;
}

.margin-killer {
    margin-top: -105px;
}

.map {
    width: 343px;
    height: 200px;
    mix-blend-mode: multiply;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    margin-top: -80px;
}

.sp-footer {
    display: flex;
    width: 375px;
    height: 170px;
    background-color: var(--glass);
    justify-content: center;
}